*{
    font-family: Arial, Helvetica, sans-serif;
    size: 16px;
}
body{
    background-color: rgb(151, 92, 206);
}
main{
     background-color: white;
     width: 500px;
     margin: auto;
     padding: 10px;
     box-shadow: 3px 3px 5px black;
}